<!DOCTYPE html>
<html>
  <head>
    <title>MiniChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="flex-wrapper">
      <%= render 'layouts/header' %>

      <div class="container">
        <%= render 'layouts/sidebar' %>

        <div class="main-content">
          <%= yield %>
        </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
